---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ansible_operator_meta.name }}
  namespace: openshift-gitops
spec:
  destination:
    name: {{ _cicd_kemo_dev_appdeployment_spec.target.cluster.name }}
    namespace: {{ _cicd_kemo_dev_appdeployment_spec.target.namespace }}
  sources:
    - repoURL: '{{ target_gitrepo_info.resources[0].spec.url }}'
      targetRevision: {{ source_gitrepo_info.resources[0].spec.branch }}
      path: argocd-apps/{{ ansible_operator_meta.name }}
      #directory:
      #  recurse: true
      kustomize: {}
        #version: v5.1.0
  project: {{ cicd_system_info.resources[0].metadata.name }}
  syncPolicy:
    automated:
      prune: true
      allowEmpty: true
      # selfHeal: false # overrides changes made on the cluster that drift from git state
      syncOptions:
        - CreateNamespace=true
      retry:
        limit: 2