---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ _cicd_kemo_dev_appdeployment.target.namespace }}

resources:
{% for resource in deploymentResource %}
- {{ resource }}
{% endfor %}