---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ _cicd_kemo_dev_appdeployment_spec.target.namespace }}

resources:
{% for manifest in manifests %}
{% if manifest != "kustomization.yml" %}
  - {{ manifest }}
{% endif %}
{% endfor %}