---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ _cicd_kemo_dev_appdeployment.target.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
    openshift.io/display-name: "{{ _cicd_kemo_dev_appdeployment.metadata.name }}"
spec: {}