---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ ansible_operator_meta.name }}
  # namespace: {{ _cicd_kemo_dev_appdeployment_spec.target.namespace }}
spec:
  to:
    kind: Service
    name: {{ ansible_operator_meta.name }}
    weight: 100
  port:
    targetPort: "8080-tcp"
  tls:
    termination: edge
  wildcardPolicy: None